.extracted-endpoint-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  flex-direction: column;
  gap: 30px;
}
.test {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(13, 20, 77, 0.3) 0px 30px 60px -30px;
}
